<!DOCTYPE html>
<html>
<head>
    <title>Musiclike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<%= stylesheet_link_tag 'tops', :media => "all"%>
<body>
<header>
    <h1>MUSIC LIKE</h1>
    <div class="header-list">
    <ul>
        <li><%= link_to "ログイン", posts_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
    </ul>
    </div>
    </header>

<div class="flowing">
<div class="repeat-fadein-out">
MUSIC LIKE
</div>
</div>

    <ul class="sample">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
    
    <div class="topmessage">
    
    <p class="border fadein txt01">「好き」を共有する</p>
    <br>
    <br>
    <h4>
    <p class="fadein txt01">通勤通学をしながら<br></p>
    <p class="fadein txt01">作業をしながら<br></p>
    <p class="fadein txt01">帰りながら<br></p>
    <p class="fadein txt01">・・・<br></p>
    <p class="fadein txt01">誰のそばにも音楽があります<br></p>
    <p class="fadein txt01">自分の「好き」を共有しませんか<br></p>
    <p class="fadein txt01">誰かの「好き」を知ってみませんか<br></p>
    <p class="fadein txt01">そんな「好き」の共有のために<br></p>
    <p class="fadein txt01">MUSICLIKEを始めてみませんか</h4></p>
    <ul>
        <li><h2><%= link_to "ログイン", posts_path %></li>
        <li><h2><%= link_to "新規登録", new_user_registration_path %></li>
    </ul>
    </p>
    </div>
    <main>
    <%= yield %>
    </main>

</header>
</body>
</html>


