<!DOCTYPE html>
<html>
<head>
    <title>Musiclike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<%= stylesheet_link_tag 'users', :media => "all"%>
<body>
<header>
    <h1>MUSIC LIKE</h1>
    <div class="header-list">
    <ul>
        <li><%= link_to 'ログアウト', destroy_user_session_path,  {method: :delete, class:"header-list"}%></li>
        <%= javascript_include_tag 'user', 'data-turbolinks-track': 'reload' %>
    </ul>
    </div>
    </header>
    <main>
    <%= yield %>
    </main>
</header>

<div class="user_show">

<div class="userprofile">
<h2>PROFILE</h2>
<img src=<%= @user.image %> class = "icon_image">
<name>
<h3>名前 : <%= @user.name %>
</name>
<introduction>
<p>プロフィール : <%= @user.introduction %></p>
</introduction>


<% if current_user.id == @user.id %>
<mail>
<p>メールアドレス : <%= @user.email %></p>
</mail>
<edit>
  <%= link_to "編集する", edit_user_registration_path %>
  </edit>
<% end %>
<followbutton>
<% if current_user != @user %>
   <% if current_user.following?(@user) %>
   <%= button_to 'フォローを外す', user_relationships_path(@user.id), method: :delete, class: "btn-danger btn-radius" %>
   <% else %>
   <%= button_to 'フォローする', user_relationships_path(@user.id), method: :POST, class:"btn-success btn-radius" %>
   <% end %>
 </p>
<% end %>
</followbutton>
</div>



<% if @user.id == current_user.id %>

<% else %>
    <% if @isDmroom == true %>
        <p><a href="/dmrooms/<%= @dmroomId %>" class="btn btn--orange btn--circle btn--circle-a btn--shadow"　role="button" aria-disabled="true">✉</a>
    <% else %>
        <%= form_for @dmroom do |f| %>
            <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "✉", class:'btn2 btn--orange2 btn--circle2 btn--circle-a2 btn--shadow2'  %>
        <% end %>
    <% end %>
<% end %>
<br>
<%= link_to "トップページへ", posts_path %><h3>


</div>
</body>
</html>


