<!DOCTYPE html>
<html>
<head>
    <title>Musiclike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<%= stylesheet_link_tag 'rooms', :media => "all"%>
<body>
<header>
    <h1>MUSIC LIKE</h1>
    <div class="header-list">
    <ul>
        <li><%= link_to 'ログアウト', destroy_user_session_path,  {method: :delete, class:"header-list"}%></li>
        <%= javascript_include_tag 'post', 'data-turbolinks-track': 'reload' %>
    </ul>
    </div>
    </header>
    <main>
    <%= yield %>
    </main>
</header>

<div class="room_index">
<div class="chat-room">
　  <h1>チャットグループ一覧</h1>
<br>
    <div class="room-search">
        
        <div class="room-new">
            <ul>
            <li><h3><%= link_to 'グループを作成する', new_room_path %><h3></li>
            </ul>
        </div>
<br>
        <% if @room_joining == [] %>
            <h4><%= @room_lists_none %><h4>
        <% else %>
            <div class="room-list">
                <ul class="room-list-table">
                    <% @room_lists.each do |list| %>
                        <% if list.user_ids.include?(current_user.id) %>
                            <li class="room-list-table-each-room">
                                <%= link_to "/rooms/#{list.id}" do %>
                                    <h4><li class="item"><%= list.name %>(<%= list.user_ids.count %>)
                                    <%= link_to '編集', edit_room_path(list.id), method: :get %>
                                    <%= link_to '削除',room_path(list.id), method: :delete %>
                                    <%= javascript_include_tag 'room', 'data-turbolinks-track': 'reload' %></li><h4>
                                <% end %>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        <% end %>

    </div>
    <br>
    <%= link_to 'トップページに戻る', posts_path %>
</div>
</div>
</body>
</html>